
body{
    margin: 0;
    
    
}

.home{
    height: 100vh;
}

.nav-bar{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
    width: 100%;
    background-color: #171B26;
    font-family: Poppins;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    width: 20%;
    list-style-type:none;
    margin-right: 30px;
    
}



li a {
    text-decoration: none;
    color: #5C8099;

    border-radius: 5px;
}

li a:hover{
    background-color: #34495E;
}

.nav-title{
    margin:0px 60px;
    color: white;
    font-weight: 500;
}

@media (min-width: 958px) {
  .nav-items {
    width: 40%;
  }
}

@media (min-width: 1920px) {
  .nav-items {
    width: 22%;
  }
}

.home-body{
    background-color: #272D3F;
}

.home-title{
    color: white;
    width: 20%;
}